.resultsBoard {
  display: flex;
  font-size: 10px;
  justify-content: center;
}

.resultDrink, .resultMovie, .resultBook {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 10px;
}

img {
  width: 90%;
  height: 150px;
}